
html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}
.site-main {
	flex: 1 0 auto;
}
.site-header,
.site-footer {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-width-container {
	padding: 2em;
	max-width: 70em;
	margin-left: auto;
	margin-right: auto;
}
.site-title canvas,
.site-title img {
	max-width: 100%;
}
.logo-image-text {
	position: absolute;
	font-family: Courier, monospace; /* font choice here pretty arbitrary but choosing one so that dimensions can be more consistent */
	/* font-size: 120px;
	letter-spacing: -17px; */
	font-size: 93px;
	text-align: center;
	color: transparent;
}

.tags {
	list-style: none;
	padding: 0;
}
.tags li {
	display: inline-block;
}
