<link href="styles/layout.css" rel="stylesheet" type="text/css">
<link href="styles/look.css" rel="stylesheet" type="text/css">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon-32.png" type="image/png" sizes="32x32">
<link rel="icon" href="/favicon-16.png" type="image/png" sizes="16x16">
<meta name="apple-mobile-web-app-title" content="Retrores">
<meta name="application-name" content="Retrores">
<meta name="msapplication-TileColor" content="#ff4581">
<meta name="theme-color" content="#ff4581">
<meta name="viewport" content="width=device-width, user-scalable=no">
