<header class="site-header">
	<h1 class="site-title">
		<a href="/">
			<span class="logo-image-text">Retrores</span>
			{% /*
			<img
				src="assets\retrores-green-pink-no-glow-no-reflection-no-outline-cropped.png"
				width="434" height="105" style="margin-bottom: 105px" alt=""
			/>
			<img
				src="assets\retrores-green-pink-glowy.png"
				width="450" height="143" style="margin-bottom: 143px" alt=""
			/>
			*/ %}
			<img
				src="assets\retrores-green-pink-no-glow.png"
				width="450" height="143" style="margin-bottom: 143px" alt=""
			/>
			<!-- margin-bottom on img makes room for the reflection effect, same height as img -->
		</a>
	</h1>
</header>
<script src="lib/lake.js"></script>
<script>
	lake(document.querySelector(".site-title img"));
</script>
