<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}} - Retrores - Windows 98 Resources</title>
		{{ include("templates/head-links-and-metas.html") }}
	</head>
	<body>
		{{ include("templates/header.html") }}
		<main class="site-main">
			<div class="page-width-container">
				<!-- <input type="search"> -->
				<h2>{{title}}</h2>
				<p>{{ description }}</p>
				{% files.forEach(function(file){ %}
					<article class="resource-file">
						<a href="{{ file.path }}">
							<h1>{{ file.name }}</h1>
							<img src="{{ file.path }}" />
						</a>
					</article>
				{% }) %}
				<ul class="tags">
					{% tags.forEach(function(tag){ %}
						<li class="tag">{- tag -}</li>
					{% }) %}
				</ul>
			</div>
		</main>
		{{ include("templates/footer.html") }}
	</body>
</html>
